/*
Stylesheet for Recipe Sharing Network
by Phu Nguyen
*/

*{margin: 0; padding: 0; outline: 0;}

body{
	background-color: #9CB509;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; letter-spacing: 1px;}
h1, h2, h3, h4, h5, h6, p, ul{margin: 5px 0 10px 0;}
h2{color: #fff; font-variant:small-caps;}
p, li{font-size: 0.9em; line-height: 1.4em;}
li{list-style-position:inside;margin-bottom:5px;}
a:link, a:visisted{text-decoration:none;}
a:hover, a:active, a:focus{text-decoration:underline;}

#wrapper{
	margin: 0 auto;
	overflow: hidden;
	width: 948px;
	height: 100%;
}

#head{
	background-color: #fff;
	height: 152px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-left: 2px solid #FFD69F;
	border-right: 2px solid #FFD69F;
	border-bottom: 2px solid #FFD69F;
}

#head h1{
	margin: 0;
	padding: 30px 20px;
}

#head h1 a{
	height: 60px;
	text-indent: -9999em;
	width: 380px;
	text-decoration: none;
	color: #F77C00;
}

#sidebar{
	background-color: #5C223B;
	float: left;
	padding: 15px 5px 20px 5px;
	margin: 50px 15px 0 0px;
	width: 291px;
	border-radius: 7px;
	border: 3px solid #FFD69F;
}

#sidebar p.sidebar_bttn{
	margin: 0 10px 15px 10px;
}

#sidebar p.sidebar_bttn a{
	background-color: #fff;
	color: #333;
	display: block;
	font-family: Arial, "Times New Roman", Times, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	border: 3px solid #000;
}

#sidebar p.sidebar_bttn a:hover{
	border: 3px solid #666;
	text-decoration: none;
	border-radius: 15px;
}

#sidebar ul li{
	list-style: none;
	margin-bottom: 0;
}

#sidebar ul li span{
	color: #363636;
	display: block;
	padding-right: 10px;
	vertical-align: text-bottom;
}

#sidebar ul li a{
	background-color: #efefef;
	text-decoration: none;
}

#content{
	float: right;
	background-color: #fff;
	margin-top: 50px;
	padding: 0px 20px 20px 20px;
	width: 572px;
	overflow: hidden;
	border-radius: 7px;
	border: 2px solid #FFD69F;
}

h2 cite {
    background-color: #454545;
    color: #eee;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 0.5em;
    padding: 2px 6px;
    margin-left: 8px;
    font-style: normal;
    font-variant: normal;
}

#content h2{
	color: #000;
}

h4 {
    margin: 25px 0 5px 0;
}

#recipes {
	float:left;
	list-style:none;
	padding:0;
}
#recipes li {
	display:inline;
}

.dish {
	display:block;
	float:left;
	width:168px;
	height:180px;
	margin:10px;
	border:1px solid #494949;
	text-align:center;
	text-decoration:none;
	color: #000;
	overflow:hidden;
}
.dish img {
	border:0;
	margin:10px auto;
	width:100px;
	height:100px;
}

#footer {
    color: #666;
    clear: both;
    font-family: Georgia, Times New Roman, serif;
    font-style: italic;
    margin: 15px auto;
    width: 960px;
}
 
#footer a {
    color: #666;
    text-decoration: underline;
}
 
#footer a:hover {
    text-decoration: none;
}

